body {
    padding: 0;
    margin: 0;

    background-color: #1e1e1e;
    font-family: 'Titillium Web', sans-serif;
}

.vacancy-list {
    min-width: 850px;
    padding: 0 10px 10px;

    background-color: #1e1e1e;
}

.system-name {
    padding-left: 10px;
    padding-top: 3px;

    font-family: 'Bangers', cursive;
    color: #e1e1e1;

    user-select: none;
}

.filters {
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    font-size: 12px;
    color: #e1e1e1;
}

.vacancy-list .filter-button {
    width: 30px;
    height: 30px;
}

#filter-all:hover, #filter-all.active {
     content: url("images/all-records-active.png");
 }

#filter-unviewed:hover, #filter-unviewed.active {
    content: url("images/unviewed records-activve.png");
}

#filter-favorites:hover, #filter-favorites.active {
    content: url("images/favorites-active.png");
}

.filters img {
    margin-right: 10px;
    cursor: pointer;
}

.vacancy-block {
    padding: 10px;

    background-color: #b1b1b1;
    border-bottom: 1px solid #1e1e1e;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.vacancy-block .vacancy-status {
    width: 64px;
    height: 64px;
    margin-right: 10px;

    float: left;
}

.vacancy-status img {
    width: 64px;
    height: 64px;
}

.vacancy-block .vacancy-information {
   font-size: 12px;
}

.vacancy-block .vacancy-name {
    font-size: 16px;
    font-weight: bold;
}

.vacancy-block a {
    color: #243070;
    text-decoration: underline;
}

.vacancy-block a:hover {
    color: #1e1e1e;
    text-decoration: underline;
}

.vacancy-block .company-name, .vacancy-block .company-country ,
.vacancy-block .location, .vacancy-block .contacts {
    font-size: 14px;
}

.vacancy-block .tech-stack {
    margin-left: 10px;
    padding: 1px 6px;

    background-color: #1e1e1e;
    color: #e1e1e1;
    font-size: 10px;
    line-height: 14px;

    border-radius: 30%;
}

.vacancy-block .date {
    margin-left: auto;
    margin-right: 20px;

    font-size: 12px;
    color: #808080;
    user-select: none;
}

.vacancy-block input {
    margin-bottom: 10px;
    width: 80px;
    height: 25px;

    font-size: 14px;

    background-color: #1e1e1e;
    color: #e1e1e1;
    border: none;
    cursor: pointer;
}

.vacancy-block input:hover {
    color: #7f9fd5;
}

.vacancy-block .buttons {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

#add-to-favorites, #remove {
    width: 25px;
    height: 25px;

    border: 1px solid #1e1e1e;
    user-select: none;
}

#add-to-favorites:hover {
    content: url("images/add-favorites-active.png");
}

.add-to-favorites-active {
    content: url("images/add-favorites-active.png");
}

#remove:hover, #remove .active {
    content: url("images/delete-active.png");
}

.description {
    display: block;
    margin: 0 20px 10px;
    padding: 10px 20px;

    background-color: #e1e1e1;
    color: #1e1e1e;
    font-size: 14px;

    box-shadow: inset 0 5px 8px -3px rgba(50, 50, 50, 0.75);

    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;

    transition: 0.2s ease-out;
}

.description-hide {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    max-height: 0;
}

#bottom-block {
    padding-top: 19px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 14px;
    color: #e1e1e1;

    user-select: none;
    cursor: pointer;
}

#bottom-block:hover {
    color: #7f9fd5;
}

#show-new-vacancies-block {
    width: 200px;
    height: 60px;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #1e1e1e;
    color: #e1e1e1;
    font-size: 14px;
    line-height: 60px;
    text-align: center;

    outline: none;
    user-select: none;
    cursor: pointer;

    cursor: pointer;
    transition: bottom 0.3s ease-out;
}

.show-new-vacancies-block-hide {
    bottom: -60px !important;
}

#show-new-vacancies-block input[type="button"] {
    position: inherit;
    width: 200px;
    height: 60px;

    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;

    background-color: #1e1e1e;
    color: #e1e1e1;
    border: none;
    border-left: 3px solid #b1b1b1;

    outline: none;
    user-select: none;
    cursor: pointer;
}

#show-new-vacancies-block input:hover {
    color: #7f9fd5;
}

.hide {
    display: none !important;
}

/* Tabs */

.nav-tabs {
    margin: 5px 10px 0;
    border-bottom: 3px solid #1e1e1e;
}

.nav-item, .nav-item a {
    margin-right: 1px;
    height: 30px;

    background-color: #383838;
    color: #e1e1e1;

    font-size: 14px;
    text-align: center;
    line-height: 14px;
}

.nav-tabs .nav-link.active {
    height: 30px;
    background-color: #b1b1b1 !important;
    color: #1e1e1e !important;
    border: 1px solid #b1b1b1 !important;
    border-radius: 0;
}

.nav-tabs .nav-link:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #b1b1b1;
}