@font-face {
    font-family: "Titillium Web";
    src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Bangers";
    src: url("fonts/Bangers-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;

    font-family: 'Titillium Web', sans-serif;
    background-color: #243070;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
}

#background {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    height: 100%;

    background-image: url("images/back2.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    opacity: 0.2;
    z-index: -1;
}

a:hover {
    text-decoration: none;
}

/* Autorization */
.login-container {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    min-height: 500px;
    height: 90%;
}

.login-block {
    position: absolute;
    padding: 20px 30px 30px;

    left: 50%;
    top: 50%;
    width: 450px;
    margin-left: -225px;
    margin-top: -215px;

    background-color: #f5f5f5;
    color: #172049;

    border-radius: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-block h2 {
    text-align: center;
    margin-bottom: 20px;
    user-select: none;
}

.login-block form {
    border: 1px solid #243070;
    padding: 20px;
}

.login-block form .or-element {
    display: block;
    text-align: center;
    user-select: none;
}

.login-block .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.login-block .info-symbol {
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("images/info.png");
    background-size: 12px 12px;
}

.login-block .info-block {
    display: none;
    position: absolute;
    right: -210px;
    top: 0;

    max-width: 200px;
    z-index: 1;

    font-size: 12px;
    text-align: justify;
    padding: 20px 20px 5px 5px;

    background-color: #f5f5f5;
    color: #1e1e1e;
    border-radius: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-block .info-block ul {
    padding-left: 20px;
}

.login-block .info-block li {
    margin: 0;
    padding: 0;
}

.login-block .info-block.open {
    display: block;
}

/* TABS */
.nav-tabs {
    margin: 5px 20px 0;
    padding-bottom: 2px;
    min-width: 1000px;

    border-color: #e1e1e1;
}

.nav-item, .nav-item a, #update-tab, #update-tab a {
    margin-right: 1px;
    height: 30px;

    background-color: transparent;
    color: #e1e1e1;

    font-size: 14px;
    text-align: center;
    line-height: 14px;
}

.nav-tabs .nav-link.active {
    height: 30px;
    background-color: transparent;
    color: #ffffff !important;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs .nav-link:hover {
    border: none;
}

#update-item {
    margin: 5px 5px 0;
    width: 20px;
    height: 20px;
    filter: invert(100%);
    background-image: url("images/update.png");
    background-size: 20px 20px;
    opacity: 0.3;
}

#update-item:hover {
    opacity: 0.5;
}

/* Search filter */
.searchFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
}

.searchFilter input[type='text'] {
    width: 230px;
    height: 30px;
    background: none;
    border : none;
    border-bottom: 1px solid #e1e1e1;
    color: #e1e1e1;
    padding: 0 10px;
    align-self: center;
    outline: none;
}

.searchFilter input[type='text']::placeholder {
    color: #e1e1e1;
    opacity: 0.6;
}

/* ALL, UNVIEWED */
.stackDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 21px;
}

.tech-stack {
    margin-right: 10px;
    padding: 1px 6px;

    white-space: nowrap;

    color: #1e1e1e;
    border: 1px solid #1e1e1e;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}

.tech-stack:hover {
    color: #243070;
}

#bottom-block {
    padding-top: 19px;

    text-align: center;
    font-size: 14px;
    color: #e1e1e1;

    user-select: none;
    cursor: pointer;
}

#bottom-block:hover {
    color: #ffffff;
}

#show-new-vacancies-block {
    transition: bottom 0.3s ease-out;
}

.show-new-vacancies-block-hide {
    bottom: -60px !important;
}

#show-new-vacancies-block:hover {
    color: #7f9fd5;
}

.hide {
    display: none !important;
}

/* BOARD */
.boardContainer {
    margin: 0;
    padding: 0 10px;
    min-width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.boardColumn {
    width: 100%;
    height: 100%;
}

.boardColumn h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    user-select: none;
}

.boardCard {
    cursor: pointer;
}

.boardCard .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
}

.boardCard .vacancy-name {
    font-size: 12px;
    font-weight: bold;
}

.boardCard .company-name {
    font-size: 12px;
    font-weight: normal;
}

.boardCard button {
    width: 28px;
    height: 28px;

    padding: 0 10px;
}

.boardCard button svg {
    width: 20px;
    height: 20px;
}

#errorMessage {
    margin: 20px;
    color: #e1e1e1;
    font-size: 12px;
}